@media screen and (max-width: 1850px) {
  .img-holder {
    width: 600px;
  }
}

@media screen and (max-width: 1575px) {
  .box-rectangle {
    width: 450px;
    height: 360px;
  }
  .box-box {
    width: 360px;
    height: 360px;
  }
  .box-long {
    width: 260px;
    height: 733px;
  }
  .box-description,
  .box-description-long {
    font-size: 16px;
  }
  .box-title,
  .box-title-long {
    font-size: 18px;
  }
  .box-name {
    font-size: 24px;
  }
  .glasses-types-wrapper {
    width: 100%;
  }
  .tips p {
    padding: 0.75rem;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 17px;
    line-height: 1.2;
  }
  .tips-left-place {
    width: 75%;
  }

  .tips-right-place {
    width: 75%;
  }
}

@media screen and (max-width: 1330px) {
  .left-section {
    padding-left: 4rem;
  }
  .right-section {
    padding-right: 4rem;
  }
  .LearnMore-btn,
  .Booking-btn {
    width: 230px;
  }
  .nav-right {
    padding-right: 2rem;
  }
  .nav ul {
    gap: 1rem;
  }
  .left-section h1 {
    font-size: 64px;
  }
  .left-section p {
    font-size: 24px;
  }
  .panel-bottom button {
    width: 200px;
  }
  .panel-middle p {
    font-size: 16px;
  }
  .panel-top h3 {
    font-size: 20px;
  }
  .service-cards-wrapper {
    gap: 2rem;
  }
  .service-card {
    width: 460px;
  }
}
@media screen and (max-width: 1215px) {
  .nav-left {
    width: 19%;
  }
  .nav-right ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 1rem;
  }
  .nav-logo img {
    padding-left: 3rem;
  }
}
@media screen and (max-width: 1090px) {
  .right-section {
    padding-right: 4rem;
  }
  .img-holder {
    width: 470px;
  }
  .LearnMore-btn,
  .Booking-btn {
    width: 190px;
    font-size: 14px;
  }

  .left-section h1 {
    font-size: 48px;
  }
  .left-section p {
    font-size: 20px;
  }
  .panel-bottom button {
    font-size: 18px;
    width: 160px;
  }
  .panel-bottom,
  .panel-middle,
  .panel-top {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .panel-middle p {
    font-size: 14px;
  }
  .panels-wrapper {
    width: 90%;
  }
  .panel {
    height: 440px;
  }
  .product {
    width: 285px;
  }
  .box-rectangle {
    width: 350px;
    height: 300px;
  }
  .box-box {
    width: 300px;
    height: 300px;
  }
  .box-long {
    width: 220px;
    height: 616px;
  }
  .box-description,
  .box-description-long {
    font-size: 13px;
    padding-top: 0.3rem;
  }
  .box-title {
    font-size: 14px;
    padding-top: 0.3rem;
  }
  .box-name {
    font-size: 18px;
  }
  .service-card p {
    padding: 1rem 3rem 1rem 3rem;
  }
  .service-card h3 {
    font-size: 28px;
  }
  .service-card {
    width: 390px;
  }
  .glasses-item,
  .lenses-item,
  .sunglasses-item,
  .acessories-item {
    width: 250px;
    height: 250px;
  }
  .glasses-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 870px) {
  .nav-right a {
    font-size: 22px;
  }
  .nav-logo img {
    padding-left: 1rem;
  }
  .nav ul {
    gap: 0.4rem;
  }
  .img-holder {
    width: 440px;
  }
  .panels-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .panel-top {
    display: inline-flex;
    width: 100%;
    gap: 2rem;
    padding-left: 3rem;
    align-items: center;
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .panel-middle p {
    max-width: 370px;
    font-size: 20px;
  }
  .panel-bottom button {
    background-color: var(--blue);
    color: var(--white);
    font-size: 20px;
    width: 250px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .panel {
    height: 415px;
    width: 395px;
  }
  .awards-items img {
    width: 80px;
  }
  .product-cards {
    flex-direction: column;
    gap: 1rem;
  }
  .product {
    width: 395px;
  }
  .load {
    margin-top: 3rem;
  }

  .testimonials-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .testimonials-wrapper {
    flex-wrap: wrap;
  }
  .box-long,
  .box-two {
    display: none;
  }
  .box-five {
    width: 350px;
    height: 300px;
    background-color: var(--pink);
  }
  .customers-section h2 {
    font-size: 44px;
  }
  .footer-content-left h3,
  .footer-content-right h3 {
    font-size: 20px;
  }
  .footer-content-left ul,
  .footer-content-right ul {
    font-size: 16px;
  }
  .footer-wrapper {
    height: 230px;
  }
  .service-cards-wrapper {
    display: flex;
    flex-direction: column;
  }
  .service-card {
    width: 460px;
  }
  .glasses-item-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .glasses-types-wrapper h3 {
    font-size: 24px;
  }
  .tips p {
    padding: 0.65rem;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 17px;
    line-height: 1.2;
  }
  .tips-left-place,
  .tips-right-place {
    width: 85%;
  }

  .tips h3 {
    font-size: 32px;
    padding: 0.75rem;
  }
}

@media screen and (max-width: 697px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem 1rem 0 0;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(136, 196, 178);
    transition: 1s;
    transform: translateY(-200vh);
  }
  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .nav-logo img {
    padding: 0;
  }
  .navbar-links {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .nav-right ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .nav-right a {
    padding: 0;
  }
  .nav-left {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .first-section {
    margin-top: 4rem;
  }
  .left-section h1 {
    text-align: center;
  }
  .left-section p {
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
  }
  .left-section {
    padding: 0 2rem 0 2rem;
    width: 100%;
  }
  .right-section {
    display: none;
  }
  .LearnMore-btn,
  .Booking-btn {
    width: 240px;
    height: 49px;
    font-size: 16px;
  }
  .button-section {
    justify-content: space-between;
  }
  .second-section h2 {
    font-size: 54px;
  }
  .footer-content-left h3,
  .footer-content-right h3 {
    font-size: 18px;
  }
  .footer-content-left ul,
  .footer-content-right ul {
    font-size: 13px;
  }
  .footer-wrapper {
    height: 180px;
  }
  .tips-right h3,
  .tips-right p,
  .tips-left h3,
  .tips-left p {
    text-align: center;
  }
  .tips-right p,
  .tips-left p {
    font-size: 15px;
  }
  .tips-right,
  .tips-left {
    justify-content: center;
  }
  .tips h3 {
    font-size: 28px;
    padding: 0.75rem;
  }
  .tips {
    height: 400px;
  }
  .tips-left-place {
    justify-content: center;
  }
  .tips-left-place,
  .tips-right-place {
    width: 95%;
  }
  .tips-section p {
    font-size: 18px;
    width: 90%;
  }
  .tips-section h2 {
    font-size: 44px;
  }
}
@media screen and (max-width: 550px) {
  .left-section h1 {
    text-align: center;
  }
  .left-section p {
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
  }
  .left-section {
    padding: 0 2rem 0 2rem;
    width: 100%;
  }
  .right-section {
    display: none;
  }
  .LearnMore-btn,
  .Booking-btn {
    width: 140px;
    height: 44px;
    font-size: 12px;
  }
  .panel {
    height: 375px;
    width: 270px;
  }
  .panel-top {
    display: inline-flex;
    width: 100%;
    gap: 2rem;
    padding-left: 3rem;
    align-items: center;
    padding: 0.3rem 0.3rem 0.5rem 0.3rem;
  }
  .panel-middle p {
    font-size: 16px;
  }
  .awards-items img {
    width: 50px;
  }
  .awards-container {
    height: 70px;
  }
  .product {
    width: 270px;
  }
  .reasons-section h2 {
    font-size: 32px;
  }
  .panel-bottom button {
    width: 200px;
  }
  .box-five,
  .box-rectangle {
    width: 250px;
    height: 300px;
    background-color: var(--pink);
  }
  .box-title {
    font-size: 12px;
  }
  .box-description {
    font-size: 12px;
  }
  .footer-content-left h3,
  .footer-content-right h3 {
    font-size: 14px;
  }
  .footer-content-left ul,
  .footer-content-right ul {
    font-size: 10px;
  }
  .footer-wrapper {
    height: 180px;
  }
  .service-card {
    width: 330px;
  }
  .glasses-types-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .glasses-item,
  .lenses-item,
  .sunglasses-item,
  .acessories-item {
    width: 150px;
    height: 150px;
  }
  .glasses-item img,
  .lenses-item img,
  .sunglasses-item img,
  .acessories-item img {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .tips h3 {
    font-size: 22px;
    padding: 0.3rem;
  }
  .tips {
    height: 450px;
  }
  .tips-right p,
  .tips-left p {
    font-size: 14px;
  }
}
@media screen and (max-width: 330px) {
  .glasses-item-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
