@media screen and (max-width: 1330px) {
  .left-section {
    padding-left: 4rem;
  }
  .right-section {
    padding-right: 4rem;
  }
  .img-holder {
    width: 700px;
  }
  .LearnMore-btn,
  .Booking-btn {
    width: 230px;
  }
  .nav-right {
    padding-right: 2rem;
  }
  .nav ul {
    gap: 1rem;
  }
  .left-section h1 {
    font-size: 64px;
  }
  .left-section p {
    font-size: 24px;
  }
  .panel-bottom button {
    width: 200px;
  }
  .panel-middle p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1215px) {
  .nav-left {
    width: 19%;
  }
  .nav-right ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 1rem;
  }
  .nav-logo img {
    padding-left: 3rem;
  }
}
@media screen and (max-width: 1090px) {
  .right-section {
    padding-right: 4rem;
  }
  .img-holder {
    width: 580px;
  }
  .LearnMore-btn,
  .Booking-btn {
    width: 190px;
    font-size: 14px;
  }

  .left-section h1 {
    font-size: 48px;
  }
  .left-section p {
    font-size: 20px;
  }
  .panel-bottom button {
    font-size: 18px;
    width: 160px;
  }
  .panel-bottom,
  .panel-middle,
  .panel-top {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .panel-middle p {
    font-size: 14px;
  }
  .panels-wrapper {
    width: 90%;
  }
  .panel {
    height: 440px;
  }
}
@media screen and (max-width: 870px) {
  .nav-right a {
    font-size: 22px;
  }
  .nav-logo img {
    padding-left: 1rem;
  }
  .nav ul {
    gap: 0.4rem;
  }
  .img-holder {
    width: 440px;
  }
  .panels-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .panel-top {
    display: inline-flex;
    width: 100%;
    gap: 2rem;
    padding-left: 3rem;
    align-items: center;
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .panel-middle p {
    max-width: 370px;
    font-size: 20px;
  }
  .panel-bottom button {
    background-color: var(--blue);
    color: var(--white);
    font-size: 20px;
    width: 250px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .panel {
    height: 415px;
    width: 395px;
  }
}

@media screen and (max-width: 697px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem 1rem 0 0;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(136, 196, 178);
    transition: 1s;
    transform: translateY(-200vh);
  }
  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .nav-logo img {
    padding: 0;
  }
  .navbar-links {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .nav-right ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .nav-right a {
    padding: 0;
  }
  .nav-left {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .first-section {
    margin-top: 4rem;
  }
  .left-section h1 {
    text-align: center;
  }
  .left-section p {
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
  }
  .left-section {
    padding: 0 2rem 0 2rem;
    width: 100%;
  }
  .right-section {
    display: none;
  }
  .LearnMore-btn,
  .Booking-btn {
    width: 240px;
    height: 49px;
    font-size: 16px;
  }
  .button-section {
    justify-content: space-between;
  }
  .second-section h2 {
    font-size: 54px;
  }
}
@media screen and (max-width: 550px) {
  .left-section h1 {
    text-align: center;
  }
  .left-section p {
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
  }
  .left-section {
    padding: 0 2rem 0 2rem;
    width: 100%;
  }
  .right-section {
    display: none;
  }
  .LearnMore-btn,
  .Booking-btn {
    width: 140px;
    height: 44px;
    font-size: 12px;
  }
  .panel {
    height: 375px;
    width: 335px;
  }
  .panel-top {
    display: inline-flex;
    width: 100%;
    gap: 2rem;
    padding-left: 3rem;
    align-items: center;
    padding: 0.3rem 0.3rem 0.5rem 0.3rem;
  }
  .panel-middle p {
    font-size: 16px;
  }
}
