:root {
  --black: #000000;
  --white: #ffff;
  --blue: #2cd0e4;
  --pink: #f5dbfa;
  --light-pink: #fadce1;
  --light-blue: #dceefa;
  --light-purple: #dadffb;
  --blue-hover: #009fb4;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease-in-out;
}

.container {
  text-align: center;
}

.product button:hover,
.load button:hover,
.LearnMore-btn:hover,
.Booking-btn:hover,
.panel-bottom button:hover {
  background-color: var(--blue-hover);
}

.reasons-section,
.awards-section,
.featured-section,
.customers-section,
.footer-section {
  margin-top: 4rem;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}
.nav-left,
.nav-right {
  width: 100%;
}

.nav-logo img {
  height: 44px;
  padding-left: 5rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1.7rem;
}

.nav-right a {
  color: var(--black);
  font-size: 24px;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0.25rem;
  position: relative;
}

.nav-right a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--blue);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-right a:hover:after {
  width: 100%;
  left: 0;
}

header .nav-btn {
  padding: 0.15rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--black);
  visibility: hidden;
  opacity: 0;
}

.home-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-section,
.right-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.right-section {
  flex-direction: row;
}

.left-section {
  align-items: center;
  justify-content: center;
}

.left-section h1 {
  font-size: 74px;
  max-width: 604px;
  text-align: left;
  font-weight: 800;
  line-height: 0.95;
  margin-bottom: 1rem;
}
.left-section p {
  font-size: 30px;
  max-width: 604px;
  text-align: left;
  font-weight: 300;
  line-height: 1.05;
  margin-bottom: 1rem;
}

.button-section {
  max-width: 604px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.LearnMore-btn,
.Booking-btn {
  background-color: var(--blue);
  width: 270px;
  height: 49px;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
  color: var(--white);
}

.img-holder {
  padding-left: 5rem;
  padding-top: 5rem;
  width: 900px;
}

.breathing {
  animation: breathing-animation 5s ease-in-out infinite;
}

@keyframes breathing-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.reasons-section h2 {
  font-size: 64px;
  margin-bottom: 3rem;
}

.panels {
  width: 100%;
  display: flex;
  justify-content: center;
}

.panels-wrapper {
  display: flex;
  width: 80%;
  align-items: center;
  gap: 5rem;
  justify-content: center;
}
.panel-one {
  background-color: var(--light-blue);
}
.panel-two {
  background-color: var(--light-purple);
}
.panel-three {
  background-color: var(--pink);
}

.panel {
  width: 365px;
  height: 540px;
  border-radius: 50px;
}

.panel-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.panel-top {
  display: inline-flex;
  width: 100%;
  gap: 0rem;
  padding-left: 3rem;
  align-items: center;
  padding: 1rem 1rem 1.5rem 1rem;
}

.panel-top h3 {
  font-size: 24px;
}

.panel-img {
  border-radius: 50%;
  min-width: 70px;
  min-height: 70px;
  background-color: #80e7f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-middle {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 1.5rem 1rem;
}

.panel-middle p {
  font-size: 20px;
}

.panel-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
}
.panel-bottom button {
  background-color: var(--blue);
  color: var(--white);
  font-size: 20px;
  width: 250px;
  height: 40px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.awards-container {
  width: 100%;
  height: 130px;
  background-color: var(--light-blue);
}

.awards-items {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.awards-items img {
  width: 150px;
}
.carousel-item {
  width: 100%;
  height: 600px;
}

.featured-section h2 {
  font-size: 64px;
  font-weight: bold;
}

.product-cards {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.product {
  height: 500px;
  width: 340px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.product-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product img {
  width: 100%;
  height: 170px;
  background-size: cover;
  border-radius: 25px;
}
.product p {
  font-size: 20px;
  font-weight: 400;
}

.product button,
.load button {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  border: none;
  margin-bottom: 2rem;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.load {
  margin-top: 6rem;
}

.customers-section h2 {
  font-size: 64px;
  font-weight: bold;
}
.testimonials-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.testimonials-section {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.box-rectangle {
  width: 700px;
  height: 400px;
  background-color: var(--pink);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.box-box {
  width: 400px;
  height: 400px;
  background-color: var(--light-purple);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.box-long {
  width: 400px;
  height: 816px;
  background-color: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.box-one {
  grid-area: 1 / 1 / 2 / 3;
}
.box-two {
  grid-area: 1 / 3 / 2 / 4;
}
.box-three {
  grid-area: 1 / 4 / 3 / 5;
}
.box-four {
  grid-area: 2 / 2 / 3 / 4;
}
.box-five {
  grid-area: 2 / 1 / 3 / 2;
}

.box-hover {
  transform: scale(1.05);
}
.box-opacity {
  opacity: 0.6;
  transform: scale(0.95);
}

.box-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 1.5rem 0 1.5rem;
}

.box-name {
  font-style: italic;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}
.box-title {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  padding-top: 1rem;
}
.box-description {
  text-align: left;
  font-size: 18px;
  line-height: 1.4;
  font-style: italic;
  padding-top: 1rem;
}
.box-description-long {
  text-align: left;
  font-size: 22px;
  line-height: 1.6;
  font-style: italic;
  padding-top: 1rem;
}
.box-title-long {
  font-size: 26px;
  text-align: left;
  font-weight: bold;
  padding-top: 1rem;
}

.footer-wrapper {
  width: 100%;
  height: 275px;
  background-color: var(--pink);
}
.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.footer-content-left h3,
.footer-content-right h3 {
  font-size: 28px;
}
.footer-content-left ul,
.footer-content-right ul {
  font-size: 21px;
  list-style: none;
  line-height: 1.6;
}
.footer-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
